<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/public/css/404.css" />
    <script src="/public/js/404.js" defer></script>
    <%- include('./partials/meta'); %>
</head>

<body>
    <%- include('./partials/header'); %>
    <header>
        <div class="wrap">
            <h1>404</h1>

            <iframe class="responsive404" width="560" height="315" src="https://www.youtube.com/embed/E80DNgZVEQ8" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>


            <p>Looks like you went beyond the world. This world does not exist.</p>

            <a class="button404" href="/">Earth</a>
        </div>
    </header>
    <%- include('./partials/footer'); %>
    <script>
        let man = document.getElementById("man");
        let year = new Date().getFullYear();

        man.innerHTML = `&copy; ${year} Copyright World of Coding`;
    </script>
</body>

</html>