<html>
    <head>

        <title>
            Heartbeat
        </title>
        <link rel="stylesheet" href="/public/css/heartbeat.css" />
        <script src="/public/js/app.js" defer></script>
        <%- include('./partials/meta'); %>
    </head>
    <body>
        <%- include('./partials/header'); %>
        <div class = "main-intro">
            <h1 class="intro"> Heartbeat - What is it? </h1> 
            <h2 class="start"> Where do I get started? </h2>

            
        </div>
    </body>
    <%- include('./partials/footer'); %> 
</html>