<html>
    <head>

        <title>
            Heartbeat
        </title>
        <link rel="stylesheet" href="/public/css/heartbeat.css" />
        <script src="/public/js/app.js" defer></script>
        <%- include('./partials/meta'); %>
    </head>
    <body>
        <%- include('./partials/header'); %>
        <div class = "main">
        </div>
    </body>
    <%- include('./partials/footer'); %> 
</html>