<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/meta'); %>
    <link rel="stylesheet" href="/public/css/apply.css" />
    <script src="/public/js/apply.js" defer></script>
</head>

<body>
<%- include('./partials/header'); %>
<div class="formDiv">
    <div class="wrapu">
        <h1>WoC Staff application</h1>
        <hr>
        <form action="http://localhost:3000/submit" method="POST">

            <!--<div class="formGroup">
                <label for="name">Discord Username *</label>
                <input type="text" name="name" id="name" placeholder="Himiko#6042" required>
            </div>
            <div class="formGroup">
                <label for="userId">Discord ID *</label>
                <input type="text" name="userId" id="userId" placeholder="You need developer mode enabled for this" required>
            </div>
            <div class="formGroup">
                <label for="reason">Reason for ban *</label>
                <input type="text" name="reason" id="reason" placeholder="Reason for ban" required>
            </div>
            <div class="formGroup">
                <label for="else">Anything else you want to say</label>
                <textarea name="else" id="else" placeholder="Anything else you want to say?"></textarea>
            </div>
            <input type="submit" id="btn">Submit</input>
        </form>
    </div>
</div> -->
            <%- //include('./partials/footer'); %>

            <div class="responsive">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScG-U1nRzdhd_BEPCi3iq6AtgebDypAzFhMcJVtFVwtOtOrhA/viewform?embedded=true"
                        width="640"
                        height="1213"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0">
                    Loading…
                </iframe>
            </div>
    </div>
</div>
<%- include('./partials/footer'); %>
</body>

</html>