<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/meta'); %>
    <link rel="stylesheet" href="../public/css/404.css" />
</head>

<body>
    <%- include('./partials/header'); %>
    <header>
        <div class="wrap">
            <h1>404</h1>
            <p>Looks like you went beyond the world. This world does not exist.</p>
            <a href="/">Earth</a>
        </div>
    </header>
    <%- include('./partials/footer'); %>
    <script>
        let man = document.getElementById("man");
        let year = new Date().getFullYear();

        man.innerHTML = `&copy; ${year} Copyright World of Coding`;
    </script>
</body>

</html>