<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/css/style.css" />
        <script src="../public/js/app.js" defer></script>
        <%- include('./partials/meta'); %>
    </head>
    <body>
        <%- include('./partials/header'); %>
        <header id="home">
            <div class="lhs">
                <div class="wrap">
                    <h1>/* World of Coding */</h1>
                    <p>A place full of aspiring developers</p>
                    <a target="_blank" href="https://discord.gg/program">JOIN</a>
                </div>
            </div>
            <div class="rhs">
                <img src="/images/header.svg" alt="SVG" draggable="false" />
            </div>
        </header>
        <div class="about" id="about">
            <div class="lhs2">
                <img src="/images/about.svg" alt="SVG" />
            </div>
            <div class="rhs2">
                <div class="heads">
                    <h1>About Us</h1>
                </div>
                <div class="txtm">
                    <p>
                        World of Coding is one of Discord's largest programming servers. We have beginners and experienced coders alike! You can ask for help in one of our many programmers channels, and get the attention of programmers to help you out with your problem. Don't know how to code?
                        No problem! Chill with us in our laid back chat, participate in events and giveaways, and try to get rich with our server economy!
                    </p>
                </div>
            </div>
        </div>
        <div class="whyus" id="whyus">
            <div class="lhs3">
                <div class="heads2">
                    <h1>Why Us?</h1>
                </div>
                <div class="txtm2">
                    <ol>
                        <li id="mem"></li>
                        <li>We provide a place for you to find devs and get help/answers if needed!</li>
                        <li>We have channels where you can show off your creations!</li>
                        <li>If you are looking to hire some devs you can find them here!</li>
                    </ol>
                    <a target="_blank" href="https://discord.gg/program" class="j">JOIN</a>
                </div>
            </div>
            <div class="rhs3">
                <img src="/images/why.svg" alt="Why US SVG">
            </div>
        </div>
        <%- include('./partials/footer'); %>
    </body>
</html>